openapi: 3.1.0
info:
  title: NuGet Server API (V3) PackageContent Search API
  description: HTTP endpoints for discovering, downloading, and publishing NuGet packages against nuget.org and compatible package sources. Entry point is the service index. Endpoints below cover service index, search, registration metadata, and package content (flat container).
  version: '3'
servers:
- url: https://api.nuget.org/v3
  description: nuget.org V3 API root
security: []
tags:
- name: Search
paths:
  /query:
    get:
      tags:
      - Search
      summary: Search packages by keyword
      operationId: searchPackages
      parameters:
      - name: q
        in: query
        schema:
          type: string
      - name: skip
        in: query
        schema:
          type: integer
          default: 0
      - name: take
        in: query
        schema:
          type: integer
          default: 20
      - name: prerelease
        in: query
        schema:
          type: boolean
          default: false
      - name: semVerLevel
        in: query
        schema:
          type: string
      - name: packageType
        in: query
        schema:
          type: string
      responses:
        '200':
          description: Search results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchResponse'
components:
  schemas:
    SearchResponse:
      type: object
      properties:
        totalHits:
          type: integer
        data:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              version:
                type: string
              description:
                type: string
              totalDownloads:
                type: integer
              verified:
                type: boolean
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: X-NuGet-ApiKey
      description: Required only for publish/delete operations on nuget.org.
x-generated-from: https://learn.microsoft.com/en-us/nuget/api/overview
x-generated-by: claude-genwave10-08-2026-05-23
