openapi: 3.1.0
info:
  title: NuGet Server API (V3)
  description: >-
    HTTP endpoints for discovering, downloading, and publishing NuGet packages
    against nuget.org and compatible package sources. Entry point is the service
    index. Endpoints below cover service index, search, registration metadata,
    and package content (flat container).
  version: "3"
x-generated-from: https://learn.microsoft.com/en-us/nuget/api/overview
x-generated-by: claude-genwave10-08-2026-05-23
servers:
  - url: https://api.nuget.org/v3
    description: nuget.org V3 API root
security: []
tags:
  - name: ServiceIndex
  - name: Search
  - name: Registration
  - name: PackageContent
paths:
  /index.json:
    get:
      tags: [ServiceIndex]
      summary: Get the V3 service index
      operationId: getServiceIndex
      responses:
        '200':
          description: Service index
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceIndex'
  /query:
    get:
      tags: [Search]
      summary: Search packages by keyword
      operationId: searchPackages
      parameters:
        - name: q
          in: query
          schema: { type: string }
        - name: skip
          in: query
          schema: { type: integer, default: 0 }
        - name: take
          in: query
          schema: { type: integer, default: 20 }
        - name: prerelease
          in: query
          schema: { type: boolean, default: false }
        - name: semVerLevel
          in: query
          schema: { type: string }
        - name: packageType
          in: query
          schema: { type: string }
      responses:
        '200':
          description: Search results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchResponse'
  /registration5-semver1/{id}/index.json:
    get:
      tags: [Registration]
      summary: Get registration index for a package
      operationId: getRegistrationIndex
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Registration index
          content:
            application/json:
              schema: { type: object }
        '404':
          description: Not found
  /flatcontainer/{id}/index.json:
    get:
      tags: [PackageContent]
      summary: List package versions
      operationId: listPackageVersions
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Versions
          content:
            application/json:
              schema:
                type: object
                properties:
                  versions:
                    type: array
                    items: { type: string }
        '404':
          description: Not found
  /flatcontainer/{id}/{version}/{id_lower}.{version_lower}.nupkg:
    get:
      tags: [PackageContent]
      summary: Download a package (.nupkg)
      operationId: downloadPackage
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
        - name: version
          in: path
          required: true
          schema: { type: string }
        - name: id_lower
          in: path
          required: true
          schema: { type: string }
        - name: version_lower
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Package content
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        '404':
          description: Not found
components:
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: X-NuGet-ApiKey
      description: Required only for publish/delete operations on nuget.org.
  schemas:
    ServiceIndex:
      type: object
      properties:
        version: { type: string }
        resources:
          type: array
          items:
            type: object
            properties:
              "@id": { type: string, format: uri }
              "@type": { type: string }
    SearchResponse:
      type: object
      properties:
        totalHits: { type: integer }
        data:
          type: array
          items:
            type: object
            properties:
              id: { type: string }
              version: { type: string }
              description: { type: string }
              totalDownloads: { type: integer }
              verified: { type: boolean }
